.About {
  display: flex;
  box-sizing: border-box;
  width: 80vw;
  height: 100%;
  padding-top: 10vh;
  margin: auto;
  background-color: var(--light-green);
  font-family: var(--main-font);

  h1 {
    margin: 0;
    font-size: 2rem;
  }

  &-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;

    img {
      height: 150px;
      margin: 0.5rem;
    }
  }

  &-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2rem;
    flex: 4;
    color: var(--main-grey);
    line-height: 1.6;
    font-size: 0.9rem;

    &-headline {
      i {
        margin-left: 2rem;
        animation: opacity 2s infinite linear;
      }
    }
  }

  &-programs {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 2rem 2rem 2rem;
    list-style: none;

    img {
      height: 50px;
    }
  }
}

@media screen and (min-width: 200px) and (max-width: 1000px) {
  .About {
    height: 100vh;
    width: 100vw;
    padding: 10vh 0;
    flex-direction: column;
    justify-content: center;

    &-info {
      padding: 0.5rem;
      line-height: 1.1;
      font-size: 0.9rem;
    }

    &-img {
      flex-direction: row;
      img {
        height: 100px;
      }
    }

    &-programs {
      padding-left: 1rem;
      img {
        height: 30px;
      }
    }
  }
}

@media screen and (min-width: 600px) and (max-width: 1280px) {
  .About {
    &-img {
      img {
        height: 115px;
      }
    }
    &-programs {
      img {
        height: 45px;
      }
    }
  }
}

@media screen and (min-width: 1000px) and (max-width: 1280px) {
  .About {
    padding-top: 10vh;
    &-img {
      img {
        height: 130px;
      }
    }
    &-programs {
      img {
        height: 50px;
      }
    }
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
