.About {
  height: 100vh;
  background-color: #b2a0eb;
  box-sizing: border-box;
  padding-top: 10vh;
  display: flex;

  &-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    img {
      height: 150px;
      position: relative;
      margin: 0.5rem;
      transition: all 2s;
      animation: color 5s infinite alternate;
    }
  }

  &-info {
    padding: 2rem;
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  &-programs {
    list-style: none;
    display: flex;
    justify-content: space-evenly;

    img {
      height: 60px;
    }
  }
}

@keyframes color {
  from {
    filter: hue-rotate(90deg);
    // filter: invert(0%);
  }
  to {
    filter: hue-rotate(0deg);
    // filter: invert(75%);
  }
}
