.About {
  height: 90vh;
  width: 80vw;
  margin: auto;
  background-color: #d1eee4;
  box-sizing: border-box;
  padding-top: 10vh;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  &-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    img {
      height: 150px;
      position: relative;
      margin: 0.5rem;
      transition: all 2s;
      // animation: color 5s infinite alternate;
    }
  }

  &-info {
    padding: 2rem;
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  &-programs {
    list-style: none;
    display: flex;
    justify-content: space-evenly;

    img {
      height: 60px;
    }
  }
}

// @keyframes color {
//   from {
//     filter: hue-rotate(90deg);
//     // filter: invert(0%);
//   }
//   to {
//     filter: hue-rotate(0deg);
//     // filter: invert(75%);
//   }
// }

@media screen and (min-width: 200px) and (max-width: 600px) {
  .About {
    height: 100vh;
    width: 100vw;
    padding: 2rem 0;
    flex-direction: column;

    &-img {
      flex-direction: row;
      img {
        height: 100px;
      }
    }

    &-programs {
      padding-left: 0;
      img {
        height: 35px;
      }
    }
  }
}

@media screen and (min-width: 600px) and (max-width: 1000px) {
  .About {
    height: 100vh;
    width: 100vw;
    padding: 2rem 0;
    flex-direction: column;

    &-img {
      flex-direction: row;
      img {
        height: 115px;
      }
    }

    &-programs {
      padding-left: 0;
      img {
        height: 45px;
      }
    }
  }
}

@media screen and (min-width: 1000px) and (max-width: 1280px) {
  .About {
    height: 100vh;
    width: 100vw;
    padding: 2rem 0;
    flex-direction: column;

    &-img {
      flex-direction: row;
      img {
        height: 130px;
      }
    }

    &-programs {
      padding-left: 0;
      img {
        height: 50px;
      }
    }
  }
}
