.Card {
  font-family: 'Montserrat', sans-serif;
  border: 1px solid #5e6b66;
  padding: 1rem 3rem;
  margin: 2rem 0;
  position: relative;

  &-img {
    display: block;
    height: auto;
    display: flex;
    justify-content: space-between;
    img {
      height: 300px;
    }
  }

  &:hover &-info {
    height: 100%;
  }

  &-info {
    box-sizing: border-box;
    color: #606e69;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #d1eee4;
    opacity: 0.95;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: 0.6s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 2rem;

    h2 {
      margin-bottom: 0;
    }

    &-tool {
      display: flex;
      align-items: center;
    }

    &-details {
      display: flex;
      width: 70%;
      font-size: 0.8rem;
      justify-content: space-between;
      align-items: center;

      img {
        margin-left: 1rem;
        height: 50px;
      }
    }

    &-links {
      a {
        position: relative;
        text-decoration: none;
        display: inline-block;
        color: #5e6b66;
        padding: 0 1px;
        margin-right: 2rem;
        transition: color ease 0.3s;

        &::before,
        &::after {
          content: '';
          position: absolute;
          background-color: #5e6b66;
          z-index: 10;
          height: 2px;
        }

        &::before {
          width: 0%;
          left: 0;
          bottom: 0;
          transition: width ease 0.4s;
        }

        &::after {
          width: 100%;
          left: 0;
          bottom: 0;
          transition: all ease 0.6s;
        }

        &:hover {
          &::before {
            width: 100%;
          }

          &::after {
            left: 100%;
            width: 0%;
            transition: all ease 0.2s;
          }
        }
      }
    }
  }
}
