.Home {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  &-img {
    img {
      width: 450px;
    }
  }

  &-text {
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    p {
      color: #87eac5;
      margin: 0;
    }

    h1 {
      color: #5e6b66;
      margin: 0;
    }
  }
}
