.Home {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  margin: 0 15vw;
  display: flex;
  justify-content: space-between;

  &-img {
    img {
      width: 350px;
    }
  }

  &-text {
    font-size: 2rem;
    font-family: var(--main-font);

    p {
      margin: 0;
      color: var(--main-green);
    }

    h1 {
      margin: 0;
      color: var(--main-grey);
    }
  }

  &-btn {
    position: relative;
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 2rem;
    background-color: var(--main-grey);
    color: var(--main-green);
    font-family: var(--main-font);
    text-decoration: none;
    font-size: 1.1rem;
    cursor: pointer;
    animation: transition 1s;

    &:active,
    &:focus {
      outline: none;
    }

    &::after {
      content: '';
      display: inline-block;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all 0.4s;
    }

    &::after {
      background-color: var(--main-green);
    }

    &:hover::after {
      transform: scale(1.6);
      opacity: 0;
    }
  }
}

@media screen and (min-width: 200px) and (max-width: 600px) {
  .Home {
    flex-direction: column;
    justify-content: center;
    &-img {
      img {
        width: 220px;
        margin-bottom: 50px;
      }
    }

    &-text {
      font-size: 1.1rem;
    }

    &-btn {
      padding: 0.5rem 1rem;
    }
  }
}

@media screen and (min-width: 600px) and (max-width: 1000px) {
  .Home {
    flex-direction: column;

    &-img {
      img {
        width: 270px;
      }
    }

    &-text {
      font-size: 1.4rem;
    }

    &-btn {
      padding: 0.75rem 1.5rem;
    }
  }
}

@media screen and (min-width: 1000px) and (max-width: 1280px) {
  .Home {
    &-img {
      img {
        width: 350px;
      }
    }

    &-text {
      font-size: 1.8rem;
    }

    &-btn {
      padding: 0.75rem 1.5rem;
    }
  }
}

@keyframes transition {
  from {
    opacity: 0;
    transform: translateX(500px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
