.Spnft {
  margin: auto;
  padding: 2rem 0;
  background-color: #cdeff7;
  font-family: 'Montserrat', sans-serif;
  color: #5e6b66;

  &-header {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-btn {
      align-self: flex-start;
      margin-left: 100px;
      color: #b2a0eb;
      border: 1px solid #b2a0eb;
      background-color: transparent;
      font-size: 1.2rem;
      padding: 0.5rem 1rem;
      cursor: pointer;
      transition: all 0.8s ease-out;

      &:hover {
        color: #cdeff7;
        background-color: #b2a0eb;
      }
    }
    h1 {
      margin: 0;
      color: #b2a0eb;
    }
  }

  &-info {
    padding: 20px 100px;
    display: flex;
    line-height: 1.5;

    &-box {
      display: flex;
      flex-direction: column;
    }

    &-background,
    &-idea,
    &-goal {
      border: 1px solid #b2a0eb;
      padding: 0.5rem 1rem;
      font-size: 0.8rem;

      h3 {
        color: #b2a0eb;
      }
    }
  }

  &-pages {
    margin: 0 100px;

    &-page {
      margin: 2rem 0;
      display: flex;
      border: 1px solid #b2a0eb;
      img {
        width: 50%;
      }

      p {
        text-align: center;
      }
    }
  }

  &-mobile {
    display: flex;

    .mobile-pic {
      height: 300px;
      margin: 0.5rem;
    }
  }
}

@keyframes slideFromBottom {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
